@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{ 
    background-color:#2d11566e;
    width: 100%;
    /* HEDER ثابت مع الصفحة*/
     position: fixed; 
    /* مافي شي بغطي على الهيدر */
     /* z-index: 999 ;  */
    display: flex;
    /* فرق بين العناصر */
    justify-content: space-between;
    /* بالوسط  */
    align-items: center;
    padding: 10px 200px;


}
.logo{ 
    /* الخط تحت الكلمة */
    text-decoration: none;
    color: white;
    /* الكلمات كلن احرف كبار */
    text-transform: uppercase;
    /*  */
    font-size: 1.8em;
    /* a حطيتا لانو جوا الاب */
}
.navigation a{
color: white;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
color: #f28aff;
}
section{
    padding: 100px 200px;

}
.main{ 
    width: 100%;
    min-height: 100vh;
    /* ma b2der 23mel align-items la 7ata 23mel flex */
    display: flex;
    align-items: center;
    background: url(../images/imag.jpg  )no-repeat;
    /* الصورة كاملة */
    background-size: cover;
/* الصورة بالنص  */
    background-position: center;
    /* اذا نزلت لتحت الصورة مابتنزل بتضل فوق */
    background-attachment: fixed;
}
.main h2{ 
    color: white;   
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    /* مسافة بين الاحرف */
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    color:white ;
    background-color:#f28aff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(235, 11, 149);
    transform: scale(1.1);

}
.social-icons{
    color: white;
    font-size: 1.7em;
    /* ببعدون عن بعض */
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #f28aff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    /* العناصر جنب بعض اذا تحت بعض بحط column */
    flex-direction: row;
    /* اذا ما كنت حيطتا رح يصغرو الكروت اذا ضفت كرت جديد وقت حطيتا رح ينزلو تحت بعض */
    /* flex-wrap: wrap; */

}
.card{
    background-color: white;
    width: 21.25em; 
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}
.card:hover{
    transform: scale(1.1);
}
.icons{
    color: #f28aff;
    font-size: 9em;
    text-align: center;
}
.info h3{ 
    color: #f28aff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info{
    text-align: center;
}
.projects{
    background-color: #f28aff;
}
.projects .content{
    margin-top: 30px;

}
.projects-card{
    background-color: white;
    border: 1px solid #f28aff;
    min-height: 14em;
}
/* ......................................................... */
.contact_us{
    text-align: center;
}
input,
textarea{
    width: 60%;
    margin: auto;
    background-color: #f700ff3d;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.contact_us div{
    margin: 15px;
}
.btn_sub{
    background-color: #ff38c4;
  width: fit-content;
  padding: 5px 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: .5s;
}
.btn_sub:hover{
    background-color: rgb(235, 11, 149);
    transform: scale(1.5);
}
footer{
    height: 10vh;
    background-color: #ff38c4;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer h2{
    text-align: center;
    color: white;
}
footer span{
    color: 7a000096;;
}